Package: codegen
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.14)
Maintainer: Umut Erol <umut22erol@gmail.com>
Description: This cli tool use for code generate. Created by Kadir Ozer Ozturtk & Umut Erol.


